Variable Assignments

In [19]:
# Let's create an object called "a" and assign it the number 5
a = 5

In [20]:
a
print(a)

5

In [21]:
a + a

10

In [22]:
# Reassign (dynamic typing)
a = 10
a

10

In [23]:
# Use A to redefine A
a = a + a
a

20

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"

CamelCaseWords vs camel_case_words

Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [24]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.15

my_taxes = my_income * tax_rate

In [25]:
# Show my taxes
print(my_taxes)

15.0

Reassinging Variables

In [26]:
a = 10
print(a)

10

In [27]:
a = a + 10
print(a)

20

# There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [28]:
a += 10
print(a)

30

In [29]:
a *= 2
print(a)

60

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [30]:
type(a)

int

In [31]:
a = 5.12
type(a)

float

In [32]:
# A tuple is a fixed list. You cannot add or remove from this list i.e. cannot modify
a = (1,2,3)
type(a)

tuple

In [33]:
# A list alllows you to modify the data
a = [1, 2, 3]
type(a)

list

Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

In [34]:
# single word
hello

NameError: name 'hello' is not defined

In [ ]:
# Can also use double quotation marks
print("hello")

# Entire Phrase
print('This is also a string')

In [ ]:
# Be careful with how you use quotation marks!
print('I'm using single quotation marks, but this will create an error')

In [ ]:
print("Now I'm ready to use a single quote inside a string.")

In [ ]:
# Print multiple lines
print('Hello world 1')
print('Hello world 2')
print('Use a \n to print a new line')
print('\n') # creates a line break
print() # also creates a line break
print('See what I mean.')

In [ ]:
# Can find the lenght of a string using len
len('Hello world!') # Remember that a space also counts as a character.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [ ]:
# Assign s as a string
s = 'Hello World'

In [ ]:
# Check using print statement. This displays the object
print(s)

Hello World

Lets start indexing

In [ ]:
s[0]

'H'

In [ ]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [ ]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [ ]:
print(s)

Hello World

In [ ]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

We can also use negative indexing to go backwards.

In [ ]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [ ]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [ ]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello World'

In [ ]:
# Grab everything, but go in step sizes of 2
s[::2]

'HloWrd'

In [ ]:
# We can use this to print a string backwards
s[::-1]

'dlroW olleH'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [ ]:
print(s)

Hello World

In [ ]:
# Let's try to change the first letter to 'x'
s[0] = 'x'

TypeError: 'str' object does not support item assignment

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [ ]:
print(s)

Hello World

In [ ]:
# Concatenate strings!
print(s + ' concatenate me!')

Hello World concatenate me!

In [ ]:
print(s)

Hello World

In [ ]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [ ]:
print(s)

Hello World concatenate me!

We can use the multiplication symbol to create repetition!

In [ ]:
letter = 'z'

In [ ]:
letter = letter * 10
print(letter)

zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [ ]:
print(s)

Hello World concatenate me!

In [ ]:
# Uppercase a string
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [ ]:
# lower case
s.lower()

'hello world concatenate me!'

In [ ]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [ ]:
# This stores a split string as a list.
split_list = s.split()
print(split_list)
type(split_list)

['Hello', 'World', 'concatenate', 'me!']

list

In [ ]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld concatenate me!']

## Print Formatting

We can use the 'f' method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [ ]:
name = "Juergen"
surname = "Lier"

# new method
print(f"My name is {name} and my surname is {surname}.")

# old method
print("My name is {} and my surname is {}.".format(name, surname))
print("Insert another string with curly brackets: {}".format('The inserted string'))

My name is Juergen and my surname is Lier.
My name is Juergen and my surname is Lier.
Insert another string with curly brackets: The inserted string

In [ ]:
# Insert a tab space into a string using \t
print("I once caught a fish \t big.")

I once caught a fish 	 big.

### Padding and Precision of Floating Point Numbers
Floating point numbers use the format <code>5.2f</code>. Here, <code>5</code> would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, <code>.2f</code> stands for how many numbers to show past the decimal point. Let's see some examples:

In [ ]:
random_number = 13.45268752

In [ ]:
print(f'Floating point numbers: {random_number :.2f}')

Floating point numbers: 13.45

In [ ]:
print(f'Floating point numbers: {random_number :1.0f}')

Floating point numbers: 13

In [ ]:
print(f'Floating point numbers: {random_number :25.2f}.')

Floating point numbers:                     13.45.

In [ ]:
print(f'Floating point numbers: {random_number :.4f}.')

Floating point numbers: 13.4527.

### Alignment, padding and precision with `.format()`
Within the curly braces you can assign field lengths, left/right alignments, rounding parameters and more

In [ ]:
# The first curly braces denote {index nr:spaces before the next object}. Same for second braces.

print('{0:9} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:5}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10))

Fruit     | Quantity
Apples   |   3.0
Oranges  |        10

By default, `.format()` aligns text to the left, numbers to the right. You can pass an optional `<`,`^`, or `>` to set a left, center or right alignment:

In [ ]:
print('{0:<8} | {1:^9} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33))

Left     |  Center   |    Right
11       |    22    |       33

You can precede the aligment operator with a padding character

In [ ]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

# Useful Operators

There are a few built-in functions and "operators" in Python that don't fit well into any category, so we will go over them in this class, let's begin!

## range

The range function allows you to quickly *generate* a list of integers, this comes in handy a lot, so take note of how to use it! There are 3 parameters you can pass, a start, a stop, and a step size. Let's see some examples:

In [ ]:
range(0, 11)

range(0, 11)

Note that this is a **generator** function, so to actually get a list out of it, we need to cast it to a list with **list()**. What is a generator? Its a special type of function that will generate information and not need to save it to memory.

In [ ]:
# Notice how 11 is not included, up to but not including 11, just like slice notation!
my_list = list(range(0,11))
print(my_list)
type(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list

In [ ]:
list(range(0,12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
# Third parameter is step size!
# step size just means how big of a jump/leap/step you 
# take from the starting number to get to the next number.
# this can be used to generate a list in which you have to find a specific number.

list(range(0,13,3))

[0, 3, 6, 9, 12]

In [ ]:
list(range(10,101,10))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
import random
print(my_list)

# grab a random number from the list called my_list
random_number = random.choice(my_list)
print(random_number)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
2

## enumerate

enumerate is a very useful function to use with for loops. Let's imagine the following situation:

In [ ]:
index_number = 0

for letter in 'abcde':
    print(f"At in {index_number} the letter is {letter}")
    index_number += 1

At in 5 the letter is a
At in 6 the letter is b
At in 7 the letter is c
At in 8 the letter is d
At in 9 the letter is e

Keeping track of how many loops you've gone through is so common, that enumerate was created so you don't need to worry about creating and updating this index_count or loop_count variable

In [ ]:
# Notice the tuple unpacking!
# i is the name given to the index where we keep track of the index number
#'letter' is the name of the loop

for i,letter in enumerate('abcde'):
    print(f"At index {i} the letter is {letter}")

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

## zip

Notice the format enumerate actually returns, let's take a look by transforming it to a list()

In [ ]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

You can use the zip() function to quickly create a list of tuples by 'zipping' them together.

In [ ]:
my_list1 = [1,2,3,4,5]
my_list2 = ['a', 'b','c','d','e']

In [ ]:
# This one is also a generator! We will explain this later, but for now let's transform it to a list
zip(my_list1,my_list2)

In [ ]:
list(zip(my_list1,my_list2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

To use the generator, we could use a for loop

In [ ]:
for item1, item2 in zip(my_list1,my_list2):
    print(f'For this tuple, first item was {item1} and second item was {item2}')

For this tuple, first item was 1 and second item was a
For this tuple, first item was 2 and second item was b
For this tuple, first item was 3 and second item was c
For this tuple, first item was 4 and second item was d
For this tuple, first item was 5 and second item was e

## in operator

We've already seen the **in** keyword during the for loop, but we can also use it to quickly check if an object is in a list

In [ ]:
'x' in ['x','y','z']

True

In [ ]:
'x' in [1,2,3]

False

In [ ]:
1 in my_list1

True

In [ ]:
6 in my_list1

False

## not in

We can combine **in** with a **not** operator, to check if some object or variable is not present in a list.

In [ ]:
'x' not in ['x','y','z']

False

In [ ]:
'x' not in [1,2,3]

True

## min and max

Quickly check the minimum or maximum of a list with these functions.

In [ ]:
mylist = [10,20,30,40,100]

In [ ]:
min(mylist)

10

In [ ]:
max(mylist)

100

## random

Python comes with a built in random library. There are a lot of functions included in this random library, so we will only show you two useful functions for now.

In [ ]:
import random
from random import shuffle

In [ ]:
# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
shuffle(mylist)
print(mylist)

[30, 10, 40, 20, 100]

In [ ]:
print(mylist)

[30, 10, 40, 20, 100]

In [ ]:
from random import randint

In [ ]:
# Return random integer in range [a, b], including both end points. This can also be used in your
# assignment so that you can then find that particular number for your search algorithms. 
randint(0,100)

57

## input

In [ ]:
input("Enter something into this box: ")

"You've got this!"

# Lists

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [ ]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
my_list = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [ ]:
len(my_list)

4

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [35]:
my_list = ['one','two','three',4,5]

In [36]:
# Grab an element at index 0
print(len(my_list))
my_list[2]

5

'three'

In [37]:
# Grab index 1 and everything past it
my_list[1:]

['two', 'three', 4, 5]

In [38]:
# Grab everything UP TO index 3
my_list[:3]

['one', 'two', 'three']

We can also use + to concatenate lists, just like we did for strings.

In [39]:
my_list + ['new item']

['one', 'two', 'three', 4, 5, 'new item']

Note: This does not change the original list

In [40]:
print(my_list)

['one', 'two', 'three', 4, 5]

You would have to reassign the list to make the change permanent.

In [41]:
# Reassign
my_list = my_list + ['add new item permanently']
print(my_list)

['one', 'two', 'three', 4, 5, 'add new item permanently']

We can also use the * for a duplication method similar to strings:

In [42]:
# Make the list double
print(my_list *2)

['one', 'two', 'three', 4, 5, 'add new item permanently', 'one', 'two', 'three', 4, 5, 'add new item permanently']

In [43]:
print(my_list)

['one', 'two', 'three', 4, 5, 'add new item permanently']

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [44]:
# Create a new list
list1 = [1,2,3]

Use the **append** method to permanently add an item to the end of a list:

In [45]:
# Append
list1.append('append me!')
print(list1)

[1, 2, 3, 'append me!']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [46]:
# Pop off the 0 indexed item
list1.pop(0)
print(list1)

[2, 3, 'append me!']

In [48]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()
print(popped_item)
print(list1)

3
[2]

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

In [49]:
list1[100]

IndexError: list index out of range

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [51]:
new_list = ['a','e','x','b','c']
print(new_list)

['a', 'e', 'x', 'b', 'c']

In [52]:
# Use reverse to reverse the order (this is permanent!)
new_list.reverse()
print(new_list)

['c', 'b', 'x', 'e', 'a']

In [53]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()
print(new_list)

['a', 'b', 'c', 'e', 'x']

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [56]:
# Let's make three lists
additional_list = ['a','b','c']
list_1=[1,2,3]
list_1=[list_1,additional_list]
list_2=[4,5,6]
list_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [list_1,list_2,list_3]

print(matrix)

[[[1, 2, 3], ['a', 'b', 'c']], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [58]:
# Grab the seconds item of the second item of the first item in the matrix object
matrix[0][1][1]

'b'